*{
    box-sizing: border-box;
}

#husk{
    position: absolute;
    top:0px;
    bottom:0px;
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}

#field{
    position:relative;
    background-color: green;
    border : 1px solid black;
    position:relative;
    height:300px;
    width:500px;
}

#ball{
    position:absolute;
    height:30px;
    width:30px;
    bottom:270px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: red;
    transition: all 1s;
}

.healthBar-outer{
    position:absolute;
    background-color: blue;
    margin: 0px;
    border: 0px;
}

.healtBar-inner{
    position:absolute;
    background-color:red;
    margin:1px;
    border : 0px;
}

.growing{
    animation-name:growing;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes growing {
    from{
        height:0%;
    }

    to{
        height:100%;
    }
}